<?xml version="1.0" encoding="utf-8" ?>
<Settings>
	<Application>
		<Name>Convert VMDK to VHDX</Name>
		<Version>1.0.0</Version>
		<Date>July 12, 2019</Date>
		<Author>Johan Cyprich</Author>
		<AuthorContact>jcyprich@live.com</AuthorContact>
		<Legal>
			<Copyright>2019 Johan Cyprich. All rights reserved.</Copyright>
			<License>Licensed under The MIT License (MIT).</License>
		</Legal>
	</Application>

	<DatabaseServer>
		<Host></Host>
		<User></User>
		<Password></Password>
	
		<Database></Database>
	</DatabaseServer>

	<MailServer>
		<SMTP></SMTP>
		<User></User>
		<Password></Password>
		<Authenticate>True</Authenticate>
	</MailServer>

	<Emails>
		<Email Name="Your Name">yourname@gmail.com</Email>
	</Emails>

	<Paths>
	</Paths>
</Settings>